@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@800&display=swap');

* {
    margin: 0,5%;
    padding: 0%;
    font-family: 'League Spartan Bold', sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* (viewport height) */
}

.container_titulo {
    height: 20%;
    width: 40%;
    margin: 10%;
    /* Centraliza verticalmente */
    display: flex;
    align-items: center;
    justify-content: center;

    border: 4px solid #38B6FF;
    border-radius: 20px;
    background-color: #38B6FF;

}

.titulo_principal {
    color: white;
    font-size: 250%;
    font-weight: 800;
    text-align: center;
}

.container_botoes {
    display: flex;
    justify-content: center;
}

.phpS {
    display:inline-block;
    margin: 10px;
    color: #38B6FF;
    
}

.link_atualizar_action {
    padding: 2px;
    text-decoration: none;
    color: #38B6FF;
    font-size: 100%;
    border: 2px solid #38B6FF;
    border-radius: 8px;
    background-color: white;
}

.link_cadastrar, .link_atualizar, .link_excluir {
    text-align: center;
    padding: 5px;
    color: #38B6FF;
    font-size: 90%;
    border: 2px solid #38B6FF;
    border-radius: 8px;
    background-color: white;
}

